
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #4e4e4e;
}
/*get started*/
.get-started{
  text-align: center;
}
.get-started .text{
  font-size: 17px;
  margin: 20px auto;
}
.get-started button{
  background-color: #e7f2f8; 
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 17px;
  border: 1px dashed #74bdcb;
  margin: 50px auto;
  word-spacing: 3px;
  letter-spacing: 2px;
}
/*username modal*/
.modal-title span{ 
  font-size: 12px;
}
.username-modal{
  width: 400px !important;
  height: 150px !important;
}
.input-box{
  display: flex;
}
input{
  font-size: 15px;
  color: #4e4e4e;/*already in * */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 30px;
}
.input-box .input{
  padding: 2px 2px 2px 3px;
  width: 200px;
  border: 1px solid #74bdcb;
  border-right: 1px solid #74bdcb;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-box .btn{
  line-height: normal;
  width: 70px;
  padding: 2px;
  border: 1px solid #74bdcb;
  border-left: 0px;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #e7f2f8;
}

/*tl*/
.messaging{
  background-color: #e7f2f8;
}
.messaging .header{
  height: 20vh;
  background-color: #e7f2f8;
}
.messaging .msg-box{
  height: 80vh;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 7px;
}
.messaging .heading{
  color: rgb(22, 22, 22);
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  font-weight: bold;
  padding: 7px ;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.messaging .hi-msg{
  display: flex;
  justify-content: space-between;
  margin: 2px 10px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.modal-header{
  border-bottom: 0;
}
.modal-box{
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: #e7f2f8;
  border-radius: 7px;
  padding: 7px;
  transform: translate(-50%, -50%);
}
.modal-body {
  margin-top: 10px;
  /*display: flex;*/
}
.modal-dialog{
  margin: 0;
  height: 100%;
  max-width: 100%;
}
.modal-content{
  background-color: #fff;
  height: 100%;
  width: 100%;
  border: 0;
}
.modal-box input{
  height: 30px;
}
input.input{
  padding: 2px 2px 2px 3px;
  width: 200px;
  border: 1px solid #c3e8fb;
  border-right: 1px solid #c3e8fb;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input.button{
  line-height: normal;
  padding: 2px;
  border: 1px solid #c3e8fb;
  border-left: 0px;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #e7f2f8;
}
/*dm modal*/
.dm-modal-box{
  position: absolute;
  top: 10vh;
  background-color: #fff;
  width: 100%;
  height: 90vh;
  padding: 7px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 0 !important;
}
.dm-modal-box button{
  margin-left: 0 !important;
  padding-left: 7px !important;

}
.dm-modal-box .modal-header{
  padding-left: 7px;
  justify-content: start;
}
.dm-modal-box .modal-title{
  font-size: 20px;
  font-weight: bold;
  padding-left: 14px;
  position: relative;
  bottom: 2px;
}

.chat-form{
  position: fixed;
  bottom: 0;
  width: 95%;
  background-color: #fff;
  padding-bottom: 2vh;
  display: flex;
  justify-content: center;
}
.chat-form .chat-input{
  width: 83%;
}
.chat-form .chat-button{
  width: 17%;
}
.text-box{
  min-height: 50px;
  margin: 2px 0 5px 3px;
}
.sender{
  text-transform: uppercase;
  font-size: 12px;
}
.msg-content{

}